
@import url(../componants/nav.css);
@import url(../componants/footer.css);




body {
  background-image: url("https://images3.alphacoders.com/114/114165.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
