/*footer*/

.footer {
  height: 13rem;
  background-color: black;
  display: flex;
  color: white;
  font-size: 1.6rem;
  padding: 4rem;
  justify-content: space-between;
  align-items: flex-end;
}

.footer-data {
  display: flex;
  align-items: baseline;
}

.footer-author {
  margin-right: 0.5rem;
}


.footer-contact{
  color: white;
}

.footer-contact:hover {
  color: rgb(56, 90, 227);
}

@media (max-width: 670px) {
  .footer {
    font-size: 1rem;
  }

  .footer-contact {
    font-size: 1rem;
  }
}
