/*main nav*/
.main-nav {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  display: flex;
  justify-content: space-between;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
  font-family: "dosis", sans-serif; /*text-shadow: 2px 2px 4px #000000;*/
}

/*logo*/
#logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 40px;
  font-size: 1.3rem;
  color: #fff;
}

.Logo-Plane {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

/*nav-menu*/
.nav-menu {
  display: flex;
  width: 40%;
  margin-left: auto;
  margin-right: 100px;
  justify-content: space-around; /*only working with display flex*/
}

/*btn*/
.btn {
  display: flex;
  align-items: center;
  flex: 1 1 auto;
  justify-content: center;
  font-size: 1.3rem;
  color: #fff;
}

.btn:hover {
  background: rgb(56, 90, 227);
}

/*nav mobile*/
.nav-mobile {
  display: none;
}

a {
  color: #fff;
  text-decoration: none;
  font-size: 2.5rem; 

  word-spacing: 10px;
}

/*media*/

@media (max-width: 1116px) {
  .nav-desktop {
    display: none;
  }
  .nav-mobile {
    display: flex;
  }
  .btn {
    filter: invert(100%);
  }
  #logo {
    margin-left: 2rem;
    padding: 20px;
  }
}

@media (max-width: 670px) {
  .nav-menu{
    margin-right: 50px;
  }
  #logo {
    margin-left: 1rem;
    padding: 10px;
  }
}

@media (max-width: 500px){

#logo{
transform: scale(.8);
margin-left: 0rem;
}

.nav-mobile{
  transform: scale(.8);
}
}